
.traffic-light{
    background: black;
    display: inline-block;
    padding: 10px;
    margin: auto;
  display: table;
    
}
.light {
width: 100px;
height: 100px;
border-radius: 50%;
}

.red{background: red;}
.yellow{background: yellow;}
.green{background: green;}

.glow{
    box-shadow: 0px 0px 9px 4px yellow;
}
